@model WebApplication11.Models.Category
@{
    ViewBag.Title = "Kategori Sil";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-trash"></i> Kategori Sil
                </h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning">
                    <strong>Uyarı!</strong> Bu kategoriyi silmek istediğinizden emin misiniz?
                </div>

                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                </dl>

                @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-default" })
                </div>
                }
            </div>
        </div>
    </div>
</div>